/* ==== 
 --------- (3.02) forms styles start ---------
 ==== */

.input-group {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  .input-single {
    width: 100%;
  }

  input,
  textarea {
    width: 100%;
    padding: 9px 16px;
    background-color: var(--white);
    border: 1px solid #707070;
    color: var(--quaternary-color);
    transition: var(--transition);
    &:focus {
      border-color: var(--base-color);
    }
    &::placeholder {
      color: var(--quaternary-color);
    }
  }

  textarea {
    min-height: 300px;
  }
}

/* ==== 
 --------- (3.02) forms styles end ---------
 ==== */
