{% load static %}
<div class="container">
            <div class="row vertical-column-gap-lg">
                <div class="col-12 col-lg-3">
                    <div class="footer-three__widget" data-aos="fade-up" data-aos-duration="1200">
                        <div class="footer__widget-header footer__widget-header-alt">
                            <img src="{% static 'images/sub-icon.png' %}" class="filter-img" alt="Image">
                            <h4 class="title-animation">Contact Now</h4>
                        </div>
                        <div class="footer__widget-content">
                            <ul class="footer__contact-list">
                                <li>
                                    <a href="https://www.google.com/maps/place/Kentucky,+USA/@37.8172108,-87.087054,8z/data=!3m1!4b1!4m6!3m5!1s0x8842734c8b1953c9:0x771f6f4ec5ccdffc!8m2!3d37.8393332!4d-84.2700179!16zL20vMDQ5OHk?entry=ttu"
                                       target="_blank"><i class="fa-solid fa-location-dot"></i>Flat 20, Reynolds
                                        Neck,
                                        North Helenaville, FV77 8WS
                                    </a></li>
                                <li><a href="tel:2305-587-3407"><i class="fa-solid fa-phone-flip"></i>+2(305)
                                    587-3407</a></li>
                                <li><a href="mailto:info@example.com"><i
                                        class="fa-regular fa-envelope"></i>info@example.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="footer-three__widget" data-aos="fade-up" data-aos-duration="1200"
                         data-aos-delay="200">
                        <div class="footer__widget-header footer__widget-header-alt">
                            <img src="{% static 'images/sub-icon.png' %}" class="filter-img" alt="Image">
                            <h4 class="title-animation">Services</h4>
                        </div>
                        <div class="footer__widget-content">
                            <ul class="footer__widget-list">
                                <li><a href="about-us.html"><i class="fa-solid fa-angle-right"></i> About Us</a>
                                </li>
                                <li><a href="our-team.html"><i class="fa-solid fa-angle-right"></i> Our Team</a>
                                </li>
                                <li><a href="properties-list-view.html"><i class="fa-solid fa-angle-right"></i>
                                    Listing</a></li>
                                <li><a href="contact-us.html"><i class="fa-solid fa-angle-right"></i> Reviews</a>
                                </li>
                                <li><a href="our-services.html"><i class="fa-solid fa-angle-right"></i> How It
                                    Works</a></li>
                                <li><a href="properties-grid-view.html"><i class="fa-solid fa-angle-right"></i>
                                    Branding</a></li>
                                <li><a href="our-services.html"><i class="fa-solid fa-angle-right"></i> Our
                                    Services</a></li>
                                <li><a href="blog-grid-view.html"><i class="fa-solid fa-angle-right"></i> Our
                                    Blog</a></li>
                                <li><a href="contact-us.html"><i class="fa-solid fa-angle-right"></i> Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="footer-three__widget footer-three__news-letter" data-aos="fade-up"
                         data-aos-duration="1200" data-aos-delay="400">
                        <div class="footer__widget-header footer__widget-header-alt">
                            <img src="{% static 'images/sub-icon.png' %}" class="filter-img" alt="Image">
                            <h4 class="title-animation">Our Newsletter</h4>
                        </div>
                        <div class="footer__widget-content">
                            <p>Subscribe to newsletter to receive exclusive
                                offers and the latest news</p>
                            <div class="newsletter-form">
                                <form action="#" method="post">
                                    <input type="email" name="news-email" id="newsEmail" placeholder="Enter Email">
                                    <button type="submit" class="btn--primary">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-three__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-three__bottom-inner" data-aos="fade-up" data-aos-duration="1200">
                            <div class="row align-items-center vertical-column-gap">
                                <div class="col-12 col-lg-4">
                                    <div class="footer__bottom-single">
                                        <a href="index.html">
                                            <img src="{% static 'images/logo.png' %}" alt="Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="footer__bottom-single">
                                        <p>Lorem ipsum dolor amet consetetur adi pisicing
                                            elit sed eiusm tempor in cididunt ut labore dolore
                                            magna aliqua</p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="footer__bottom-single">
                                        <div class="social justify-content-lg-end">
                                            <a href="https://www.facebook.com/" target="_blank"
                                               aria-label="share us on facebook" title="facebook">
                                                <i class="flaticon-facebook"></i>
                                            </a>
                                            <a href="https://www.twitter.com/" target="_blank"
                                               aria-label="share us on twitter" title="twitter">
                                                <i class="flaticon-twitter"></i>
                                            </a>
                                            <a href="https://www.instagram.com/" target="_blank"
                                               aria-label="share us on instagram" title="instagram">
                                                <i class="flaticon-instagram"></i>
                                            </a>
                                            <a href="https://www.linkedin.com/" target="_blank"
                                               aria-label="share us on linkedin" title="linkedin">
                                                <i class="flaticon-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer-three__copyright">
                            <div class="row align-items-center vertical-column-gap-sm">
                                <div class="col-12 col-lg-5">
                                    <div class="footer__bottom-right text-center text-lg-start">
                                        <p><span id="copyrightYear"></span> &copy; All copyright served by <a
                                                href="https://themeforest.net/user/themecraze"
                                                target="_blank">ThemeCraze</a></p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7">
                                    <div class="footer__bottom-left">
                                        <ul
                                                class="footer__bottom-list justify-content-center justify-content-lg-end">
                                            <li><a href="contact-us.html">Where to Find Us</a></li>
                                            <li><span></span></li>
                                            <li><a href="terms-conditions.html">Terms of Payment</a></li>
                                            <li><span></span></li>
                                            <li><a href="privacy-policy.html">Stats Element</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>