{% load static %}
<!-- jquery -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<!-- bootstrap five js -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- nice select js -->
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<!-- magnific popup js -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- swiper slider js -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<!-- viewport js -->
<script src="{% static 'js/viewport.jquery.js' %}"></script>
<!-- odometer js -->
<script src="{% static 'js/odometer.min.js' %}"></script>
<!-- aos js -->
<script src="{% static 'js/aos.js' %}"></script>
<!-- lenis smooth scroll -->
<script src="{% static 'js/lenis.min.js' %}"></script>
<!-- splittext js -->
<script src="{% static 'js/SplitText.min.js' %}"></script>
<!-- scrollto js -->
<script src="{% static 'js/ScrollToPlugin.min.js' %}"></script>
<!-- scrolltrigger js -->
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<!-- gsap js -->
<script src="{% static 'js/gsap.min.js' %}"></script>
<!-- ==== / js dependencies end ==== -->
<!-- colour settings js -->
<script src="{% static 'js/color-settings.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/custom.js' %}"></script>